{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
Car Offer
{% endblock %}

{% block body %}
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                <h3>This is Car index page</h3>

                <table class="table">
                    <tr>
                        <th>Make</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.make }} </td>
                            <td>{{ car.name }} </td>
                            <td><a href="{{url( 'show_car', {id: car.id} ) }}">Show details</a></td>
                        </tr>
                    {% endfor %}
                </table>

{% endblock %}



